// COLORS
$color-primary: #55c57a; //Medium green
$color-primary-light: #7ed56f; //Light green
$color-primary-dark: #28b485; //Dark green
$color-grey-dark: #777777; // Dark grey
$color-white: #ffffff; // White
$color-black: #000000; // Black

// FGRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
